html {
    font-family: IranYekan;
}
body {
    box-sizing: border-box;
    background-color: #ffffff;
    cursor: auto;
    margin: 0px;
    width: 100vw;
}
body main{
    min-height: 100vh;
}
.wrapperclass1{
    width: 80%;
    margin: 0 auto;
}
.wrapperclass2{
    width: 75%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer
}

                    /*header*/
.navtop_bg{
    background-color: #050c3a;
    width: 100vw;
    height: 50px;
}
.navtop{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
.sociallinks_top {
    margin: 0;
    padding: 0 30px;
}
.sociallist_top {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.socialitem_top {
    list-style: none;
    float: right;
    padding: 0px 10px;
    font-size: 20px;
    color: #777777;
}
.socialmedia_text{
    font-size: 0.9em;
}
.socialitem:nth-child(3) {
    border-left: 1px solid #AEAEAE;
    padding: 0 10px;
}
.socialitem_top:hover {
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px 10p;
    background-color: #147AD6;
    border-radius: 5px;
}
.instaicon_top, .telegicon_top, .youticon_top {
    color: #AEAEAE;
}
.instaicon_top:hover, .telegicon_top:hover, .youticon_top:hover {
    color: #ffffff;
}
.callus_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 20px;
    border-right: 1px solid #AEAEAE;
    padding: 0 20px;
    font-size: 0.8em;
}
.callus_top_num{
    padding: 0 10px;
}
.callus_log_lan{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    color: #fff;
    text-align: left;
}
.callus_log{
    color: #fff;
    width: 300px;
    display: flex;
    flex-direction: row;
    padding: 0 5px;
}
.callus_lan{
    display: flex;
    flex-direction: row;
    color: #fff;
    width: 200px;
    align-items: center;
    margin: 0 30px;
}
.callus_lan_earthicon{
    font-size: 1.2em;
}
.callus_lan_earthicon, .callus_lan_arrowicon{
    padding: 0 5px;
}
.callus_lan_arrowicon{
    font-size: 0.7em;
    padding-left: 0;
}
.change_lan_list{
    list-style: none;
    padding-right: 0;
}
.headerbg {
    background-image: url(../images/startup-photos.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.topnavcontainer {
    height: 100vh;
    filter: drop-shadow(0 0 15px #858585);
}
.mainnavtop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.of320to480_responsive {
    display: none;
    font-size: 1em;
    float: right;
    text-align: center;
}
.menu3line {
    display: none;
}
.mainmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 4em;
    font-size: 0.9em;
    color: #fff;
    list-style: none;
}
.mainmenu:hover {
    line-height: 4em;
}
.mainmenu_li {
    padding: 0 30px;
}
.mainmenu_li:hover {
    background-color: #f76a22;
    border-radius: 5px;
}
.mainmenu_li_search{
    flex-grow: 1;
    margin: 0;
    font-size: 1.05em;
}
.searchicon_navtop{
    padding: 20px;
}
.searchicon_navtop:hover{
    background-color: #f76a22;
    border-radius: 5px;
    color: #fff;
}
.mainmenu_li_search:hover{
    color: #e94c3b;
    font-size: 1.1em;
}
.wellcom_to_site {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: -450px;
}
.wellcom_to_site_text{
    color: #ffffff;
    margin: 0;
}
.wellcom_to_site_Desc{
    padding-top: 30px;
    width: 50%;
    font-size: 1em;
    color: #bbbbbb;
    margin: 0;
}
@media (min-width:20em) and (max-width:30em) {
    .headerbg {
        width: 100vw;
        height: 150px;
        background-size: cover;
        background-position: center;
        filter: drop-shadow(0 0 5px #858585);
        display: flex;
        flex-direction: column;
    }
    .mainnavtop {
        display: none;
    }
    .of320to480_responsive {
        display: inline-block;
        text-align: center;
        font-size: 1em;
        padding: 15px 20px;
        color: #ffffff;
    }
    .menu3line {
        display: inline-block;
        font-size: 1em;
        margin: -10px;
    }
}
@media (min-width:30em) and (max-width:45em) {
    .headerbg {
        width: 100vw;
        height: 40vh;
        background-size: cover;
        background-position: center;
        filter: drop-shadow(0 0 5px #858585);
    }
    .mainnavtop {
        display: none;
    }
    .of320to480_responsive {
        display: block;
        text-align: center;
        color: #ffffff;
    }
    .menu3line {
        display: inline-block;
        font-size: 1.2em;
        margin: -10px;
    }
}

                    /*body*/
                    /*services*/
.immigration_country_bg {
    background-image: url(../images/17580.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 600px;
}
.immigration_country{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.immigration_country_Desc {
    font-size: 0.9em;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
.immigration_country_title{
    margin-bottom: 0;
}
.immigration_country_line {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #f96b1f;
    margin: 10px auto;
}
.immigration_country_panel{
    width: 800px;
    height: 300px;
    background-color: #fff;
    margin: 30px auto;
    filter: drop-shadow(0 0 5px #c4c4c4);
}
.immigration_country_list{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding-left: 20px;
    padding-right: 20px;
}
.immigration_country_item{
    list-style: none;
    padding: 0;
    width: 25%;
    padding: 20px;
    font-size: 0.8em;
}
.immigration_countryitem_image, .immigration_countryitem_image2{
    width: 60px;
    height: 60px;
    border: 1px solid #AEAEAE;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}
.immigration_countryitem_image2{

}
.immigration_country_title{
    color: #212121;
}
.immigration_country_Desc2{
    color: #7a7a7a;
    text-align: justify;
}
.immigration_countryitem_readmore{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0 15px;
}
.immigration_countryitem_readmore:hover {
    color: #f96b1f;
}
.clearfix::after,
.clearfix::before {
    content: ' ';
    display: table;
}
.clearfix::after {
    clear: both;
}
@media (min-width:20em) and (max-width:30em) {
    .services {
        text-align: center;
    }
    .services_Desc {
        float: right;
        text-align: center;
    }
    .ourservices_title {
        font-size: 1.1em;
        float: right;
        text-align: center;
    }
    .ourservices_Desc {
        float: right;
        text-align: center;
        font-size: 0.8em;
    }
    .ourservices_panel {
        padding: 0 2px;
        padding-right: 00px;
    }
    .ourserviceslist {
        padding-right: 20px;
    }
    .ourservicesitem {
        width: 80%;
        float: right;
        text-align: center;
        padding: 0;
    }
    .ourservicesicon {
        font-size: 2em;
        display: block;
        text-align: center;
    }
    .ourservicesitem_title {
        font-size: 0.85em;
    }
    .ourservices_Desc2 {
        font-size: 0.6em;
        text-align: center;
    }
}
@media (min-width:30em) and (max-width:45em) {
    .services {
        padding: 0;
        margin: 10px;
        float: right;
        text-align: center;
        width: 100%;
        height: 820px;
    }
    .services_Desc {
        font-size: 0.7em;
        float: right;
        text-align: center;
        width: 100%;
        margin: 0 1px;
    }
    .ourservices_panel {
        font-size: 0.7em;
        width: 100%;
        padding: 10px;
    }
    .ourservicesitem {
        width: calc(80vw - 50%);
        float: right;
        text-align: center;
        padding: 15px;
    }
    .ourserviceslist {
        padding-right: 0;
    }
    .ourservices_Desc2 {
        font-size: 0.9em;
    }
    .ourservicesicon {
        font-size: 4em;
        display: block;
        text-align: center;
    }
}

                    /*ourproject*/
.ourprojectbg{
    background-color: #fff;
    width: 100vw;
    background-size: cover;
    position: relative;
}
.ourproject{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    margin: 20px auto;
}
.ourproject_parag{
    margin-top: 100px;
    margin-right: 250px;
}
.titleourproject {
    color: #222222;
    width: 250px;
    text-align: right;
    margin: 0;
    margin-bottom: 20px;
}
.ourproj_line{
    display: block;
    width: 40px;
    height: 2px;
    background-color: #f96b1f;
    margin: 0;
}
.ourproject_Desc {
    width: 300px;
    display: block;
    font-size: 0.9em;
    text-align: justify;
    color: #727272;
}
.ourproj_image_panel {
    float: right;
    text-align: center;
    width: 100%;
    margin-left: 100px;
}
.ourproj_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    position: relative;
}
.ourproj_item {
    list-style: none;
    width: 33%;
    padding: 0 10px;
}
.ourproj_image {
    width: 480px;
    height: 480px;
    transform: translate(0, -20px);
}
.view_location {
    width: 140px;
    height: 45px;
    background-color: #f96b1f;
    border: 1px solid #f96b1f;
    border-radius: 5px;
    display: block;
    filter: drop-shadow(0 0 2.5px #f96b1f);
    padding: 10px 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    position: absolute;
    top: 65%;
    right: 18%;;
    font-size: 0.9em;
    text-align: center;
    color: #fff;
}
.view_location:hover {
    width: 160px;
    background-color: #f86312;
    border: 1px solid #f86312;
    transform: translate(0px, 0px);
}
.view_location_text{
    font-size: 0.9em;
    display: inline-block;
    margin: auto;
}
.submitbutton_contactus {
    color: #ffffff;
    align-items: center;
}
.ourproject_imagelistitem {
    list-style: none;
    width: 25%;
    float: right;
    text-align: center;
}
.show_title_projimage{
    content: ' ';
    position: absolute;
    width: 250px;
    height: 200px;
    top: 30px;
    left: 50px;
    color: #4e4e4e;
    opacity: 0;
    border: 1px solid #f7f7f7;
    border-radius: 8px;
    background-color: #dbdbdb;
    transition: all 1s ease-in;
}
.show_title_projimage:hover{
    opacity: 0.8;
    color: #707070;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
}
@media (min-width:20em) and (max-width:30em) {
    .ourproject {
        height: 300px;
        display: inline-block;
        text-align: center;
        color: #ffffff;
    }
    .ourprojectbg {
        background-image: url(../images/people-coffee-tea-meeting.jpg);
        width: 100vw;
        height: 300px;
        background-size: cover;
        filter: drop-shadow(0 0 10px #858585);
    }
    .titleourproject {
        font-size: 1.1em;
        float: right;
        text-align: center;
    }
    .ourproject_Desc {
        text-align: center;
        font-size: 0.7em;
    }
    .ourproj_image_panel {
        height: 40vh;
        padding: 10px 0;
    }
    .ourproj_list {
        float: right;
        text-align: center;
    }
    .ourproj_item {
        width: 50%;
        float: right;
        text-align: center;
        padding: 10px;
    }
    .ourproj_image {
        width: 50%;
        float: right;
        text-align: center;
    }
}
@media (min-width:30em) and (max-width:45em) {
    .ourprojectbg {
        filter: drop-shadow(0 0 10px #858585);
    }
    .ourproject_Desc {
        font-size: 0.7em;
        width: 100%;
    }
    .ourproj_image_panel {
        width: 100%;
        height: 40vh;
        padding: 10px 0;
    }
    .ourproj_item {
        width: 25vw;
        height: 25vh;
    }
}

                    /*ourteam*/
.show_name1{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffffff;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.show_name1:hover{
    opacity: 1;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
}

                    /*ourservices*/
.ourservices_image_panel{
    background-image: url(../images/airport-terminal1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.ourservices{
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 400px;
}
.ourservices_Desc_panel{
    text-align: center;
    width: 600px;
    font-size: 0.9em;
    background-color: #e46425;
    padding: 45px 80px;
    margin: 0 auto;
    position: relative;
}
.title_ourservices{
    color: #fff;
    padding-top: 20px;
    display: block;
    text-align: right;
    margin: 10px 0;
}
.ourservices_line{
    display: block;
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin: 0;
}
.ourservices_Desc{
    color: #e7e7e7;
    width: 300px;
    text-align: justify;
    padding-top: 10px;
}
.ourservices_readmore{
    width: 140px;
    height: 45px;
    background-color: #121b56;
    border: 1px solid #121b56;
    border-radius: 5px;
    display: block;
    color: #fff;
    filter: drop-shadow(0 0 2.5px #121b56);
    padding: 10px 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    position: absolute;
    top: 68%;
    right: 17%;
}
.read_more_text{
    font-size: 0.9em;
    display: inline-block;
    margin: auto;
}
.ourservices_readmore:hover{
    width: 160px;
    height: 45px;
    background-color: #0f1b69;
    border: 1px solid #0f1b69;
    transform: translate(0px, 0px);
}
.ourservices_list_panel{
    margin: 0 auto;
    padding: 0 50px;
}
.ourservices_list{
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    position: relative;
}
.ourservices_listitem{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 50%;
    padding: 20px;
}
.ourservices_text{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.ourservices_Desc2{
    font-size: 0.72em;
    text-align: justify;
    color: #fff;
}
.ourservices_icon{
    font-size: 2.5em;
    color: #bc4b21;
}
.ourservices_name{
    color: #fff;
    margin: 0;
    display: block;
    text-align: right;
    font-size: 0.9em;
}
.ourservices_type{
    color: #fff;
    margin-top: 10px;
}
.show_title_ourservices{
    content: ' ';
    position: absolute;
    width: 170px;
    height: 170px;
    top: 30px;
    left: 318px;
    color: #646464;
    opacity: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #adadad;
    transition: all 1s ease-in-out;
}
.show_title_ourservices:hover{
    opacity: 0.7;
    color: #ff1d1d;
    display: inline-block;
    text-align: center;
    padding-top: 80px;
}
@media (min-width:20em) and (max-width:30em){
    .Certificate{
        background-image: url(../images/breather-181282.jpg);
        background-size: cover;
        width: 100vw;
        height: 1000px;
        box-shadow: 0px -2px 25px #858585;
    }
    .titleCertificate{
        font-size: 1.1em;
    }
    .ourCertificate_Desc{
        font-size: 0.7em;
        text-align: justify;
    }
}

                    /*visa_consultation*/
.main_visa_consultation_panel{
    background-image: url(../images/csaba-balazs-q9URsedw331-unsplash.jpg);
    width: 100vw;
    text-align: center;
}
.visa_consultation_panel {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.title_visa_consultation{
    margin-bottom: 0;
    margin-top: 60px;
}
.visa_consultation_line{
    display: block;
    width: 50px;
    height: 2px;
    background-color: #f86312;
    margin: 20px auto;
    margin-bottom: 50px;
}
.visa_consultation_Desc {
    color: #777777;
    display: inline-block;
    text-align: center;
    font-size: 0.9em;
    width: 50%;
    margin-bottom: 0;
}
.main_visa_consultation{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 0 auto;
    width: 850px;
    height: 350px;
    background-color: #fff;
    position: relative;
    margin-bottom: 80px;
    filter: drop-shadow(0 0 5px #c4c4c4);
}
.visa_consultation_boxgroupe{
    width: 750px;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 0;
    text-align: right;
    margin: 20px auto;
}
.visa_consultation_box{
    padding: 0 10px;
}
.box_name_visacon, .box_mail_visacon,
.box_sub_visacon{
    width: 220px;
    height: 50px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    color: #777777;
    margin: 0 auto;
}
.box_Desc_visacon{
    width: 460px;
    height: 50px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    color: #777777;
    position: relative;
}
.send_request{
    width: 220px;
    height: 50px;
    background-color: #f96b1f;
    border: 1px solid #f96b1f;
    border-radius: 5px;
    display: block;
    filter: drop-shadow(0 0 2.5px #f96b1f);
    padding: 10px 0;
    position: absolute;
    top: 53%;
    left: 90px;
    font-size: 0.9em;
    text-align: center;
    color: #fff;
    margin: 20px 0;
}
.send_request:hover{
    background-color: #f86312;
    border: 1px solid #f86312;
}
.send_request_text{
    font-size: 0.9em;
    display: inline-block;
    margin: auto;
}
.visa_consultation_footer{
    background-color: #121b52;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.visa_consultation_footer_icon{
    color: #f95807;
    font-size: 1.7em;
    transform: scaleX(-1);
}
.visa_consultation_footer_text{
    font-size: 0.8em;
    color: #fff;
    padding: 0 10px;
}
.visa_consultation_footer_num{
    color: #f95807;
}
.show_title_image{
    content: ' ';
    position: absolute;
    width: 280px;
    height: 200px;
    top: 0;
    left: 0;
    margin-left: 13px;
    color: #4e4e4e;
    opacity: 0;
    border: 1px solid #f7f7f7;
    border-radius: 8px;
    background-color: #f7f7f7;
    transition: all 1s ease-in;
}
.show_title_image:hover{
    opacity: 0.7;
    color: #505050;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
}
@media (min-width:20em) and (max-width:30em) {
    .recent_weblog_panel {
        width: calc(100vw - 10px);
        display: flex;
        flex-direction: column;
    }
    .title_recent_weblog {
        font-size: 1.2em;
    }
    .recent_weblog_Desc {
        width: 90vw;
        font-size: 0.8em;
        margin: 0 20px;
    }
    .main_recent_weblog {

    }
    .recent_weblog_list{
        display: flex;
        flex-direction: column;
    }
    .recent_weblog_listitem {
        width: 75%;
    }
    .recent_weblog_listitem_Desc {
        text-align: justify;
        font-size: 0.75em;
    }
    .subject_recent_weblog {
        font-size: 1.1em;
    }
}

                    /*footer*/
.mainfooter{
    background-color: #050d3c;
    width: 100vw;
    color: #fff;
    position: relative;
}
.box_footer{
    text-align: center;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
    height: 375px;
}
.aboutcompany_panel{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 25%;
    text-align: right;
    margin-left: 60px;
}
.aboutcompany_text{
    font-size: 0.75em;
    text-align: justify;
    margin-top: 0;
}
.aboutcompany_add_call{
    display: flex;
    flex-direction: column;
    padding-right: 0;
    margin-top: 0;
}
.aboutcompany_add, .aboutcompany_call{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.aboutcompany_add_icon, .aboutcompany_call_icon{
    color: #df5d1f;
    font-size: 1.5em;
}
.aboutcompany_call_icon{
    transform: scaleX(-1);
}
.aboutcompany_add_text, .aboutcompany_call_text{
    font-size: 0.7em;
    color: #fff;
    padding: 0 5px;
    text-align: justify;
}
.aboutcompany_call_text{
    padding: 0;
    margin-right: 12px;
}
.aboutcompany_call_text2{
    font-size: 0.7em;
    padding: 0;
    margin-right: 7px;
    direction: ltr;
}
.aboutcompany_call_icon{
    font-size: 1.75em;
}
.visa_type_panel{
    width: 25%;
    margin-left: 0px;
}
.visa_type_maintitle{
    text-align: right;
}
.visa_type_list_panel{
    text-align: center;
    margin: 0 auto;
}
.visa_type_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-right: 0;
}
.visa_type_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    padding: 5px 0;
}
.visa_type_item:hover {
    color: #f96922;
}
.visa_type_item_text{
    display: inline-block;
    padding: 0 10px;
}
.recent_news_panel{
    width: 40%;
    margin-left: 0px;
}
.recent_news_maintitle{
    text-align: right;
}
.recent_news_list_panel{
    text-align: center;
    margin: 0 auto;
}
.recent_news_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    padding-right: 0;
}
.recent_news_item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 20px;
    font-size: 0.8em;
}
.recent_news_item_text1, .recent_news_item_text2{
    display: inline-block;
    padding: 0 20px;
    margin: 0;
    font-size: 0.9em;
    text-align: justify;
    padding-bottom: 10px;
}
.recent_news_item_text2{
    font-size: 0.8em;
}
.recent_news_item_text1:hover, .recent_news_item_text2:hover{
    color: #f96922;
}
.recent_news_image{
    width: 75px;
    height: 75px;
    border: 1px solid #AEAEAE;
    border-radius: 5px;
}
.recent_news_item_desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.newsletter_social_panel{
    width: 25%;
}
.socialmedia{
    float: right;
    text-align: center;
    width: 33%;
    padding: 0 20px;
}
.newsletter_social_panel{
    margin: 0px;
    padding: 0px;
    height: 2.5em;
    width: 25%;
}
.textarea_email{
    width: 150px;
    height: 30px;
    float: right;
    text-align: right;
    padding: 5px;
    border: 0px solid #AEAEAE;
    border-radius: 0 3px 3px 0;
    filter: drop-shadow(0 0 2px #aeaeae);
    transform: translate(0px, 0px);
    position: relative;
}
.textarea_email:hover{
    border: 2.5px solid #178ff8;
}
.submitbutton_Newsletters{
    width: 55px;
    height: 30px;
    color: #fff;
    font-size: 0.7em;
    display: block;
    background-color: #f96922;
    border: 1px solid #f96922;
    border-radius: 3px 0 0 3px;
    text-align: center;
    right: 78.5%;
    filter: drop-shadow(0 0 2px #f36118);
    transform: translate(0px, 0px);
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    position: absolute;
}
.submitbutton_Newsletters:hover{
    width: 60px;
}
.newsletter_text{
    font-size: 0.8em;
    width: 100%;
}
.socialmedia_panel{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-right: 0px;
}
.socialmedia_maintitle{
    font-size: 0.7em;
    display: inline;
    width: 100px;
}
.sociallinks{
    margin: 0;
    padding: 0;
}
.sociallist{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.newsletter_text_panel{
    float: right;
    text-align: justify;
    padding: 0;
    width: 100%;
}
.socialitem{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0 7px;
    color: #777777;
}
.socialitem:hover{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
}
.instaicon, .telegicon, .youticon{
    color: #fff;
}
.instaicon:hover, .telegicon:hover, .youticon:hover{
    color: #f96922;
}
.navfooter{
    background-color: #000f30;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 100px;
    align-items: center;
}
.scroll_top{
    font-size: 0.9em;
    color: #fff;
    background-color: #112256;
    padding: 10px;
}
.navfootert_text_panel{
    margin: 0 100px;
    display: flex;
    flex-direction: row;
}
.navfootert_text{
    font-size: 0.7em;
    padding: 0 4px;
}
.copyright_text{
    direction: ltr;
    float: left;
    text-align: left;
    text-align: center;
    color: #fff;
    line-height: 25px;
    font-size: 0.7em;
    margin: 0;
    margin-right: 450px;
}
.copyright_icon {
    color: #fff;
}
@media (min-width:20em) and (max-width:30em){
    .box_footer{
        display: flex;
        flex-direction: column;
    }
}